<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Choose which hotel to manage:<br>
    <form action="#" th:action="@{/hotels/processChoose}" method="post">
        <select th:name="hotelId">
            <option th:each="hotel : ${hotels}"
                    th:value="${hotel.getId()}"
                    th:text="${hotel.getName()} + ', ' + ${hotel.getCity()}" />
        </select>
        <button type="submit">Manage!</button>
    </form>
</body>
</html>