<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th th:text="${hotel.name}"/> <br>
    <table>
        <tr>
            <th>room number</th>
            <th>max guests number</th>
            <th>price per night</th>
        </tr>
        <tr th:each="room : ${hotel.getRooms()}">
            <td th:text="${room.roomNumber}" />
            <td th:text="${room.maxGuestsNumber}" />
            <td th:text="${room.pricePerNight}" />
            <td> <a th:href="@{/rooms/edit(hotelId=${hotel.id} ,roomId = ${room.id})}"/>edit</td>
            <td> <a th:href="@{/rooms/delete(hotelId=${hotel.id} ,roomId = ${room.id})}"/>delete</td>
        </tr>
    </table>
    <a th:href="@{/rooms/add(hotelId = ${hotel.id})}">add new room</a>

</body>
</html>