<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
    </tr>
    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.getName()}" />
        <td th:text="${hotel.getCity()}" />
        <td th:text="${hotel.getAddress()}" />
        <td><a th:href="@{/hotels/manage(hotelId=${hotel.getId()})}">manage</a></td>
        <td><a th:href="@{/hotels/edit(hotelId=${hotel.getId()})}">edit</a></td>
        <td><a th:href="@{/hotels/delete(hotelId=${hotel.getId()})}">delete</a></td>
    </tr>
</table>
</body>
</html>